<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- Sticky Header -->
  <script src="http://poordeveloper.github.io/ion-sticky/ion-sticky.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>

</head>
<body ng-app="euro" ng-controller="EuroCtrl" class="platform-android">
  <!-- <img src="img/logo.svg" alt="Logo"> -->
  <ion-pane>
      <!-- <ion-header-bar class="bar-stable">

        <h1 class="title">Euro 2016</h1>
      </ion-header-bar>
      <ion-content class="ion-content">
		
      <div ng-repeat="match in matches" class="item">
      <div style="display:inline-block; width:40%; float: left;">
    	{{match.home}}  
      </div>
      <div style="display:inline-block; width:20%; float: left;text-align: center" class="timestamp">      
      <b>
      {{match.time}}  
      </b>
      </div>
      <div style="display:inline-block; width:40%; text-align: right;">
      	{{match.away}}
      </div>
		
      </div>
    </ion-content> -->

    <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Euro 2016</h1>
  </ion-header-bar>

  <!-- or <ion-scroll> -->
  <ion-content ion-sticky="">
  <ion-list>
  <ion-item class="item-divider"> {{matches[0].date}}, {{matches[0].day}}   </ion-item>
  <ion-item ng-repeat="match in matches" class="item" ng-if="matches[0].date==match.date">
  <div>

    <div style="display:inline-block; width:40%; float: left;">
      {{match.home}}  
    </div>
    <div style="display:inline-block; width:20%; float: left;text-align: center" class="timestamp">      
      <b>
        {{match.time}}  
      </b>
    </div>
    <div style="display:inline-block; width:40%; text-align: right;">
      {{match.away}}
    </div>
  </div>

</ion-item>

<ion-item class="item-divider"> {{matches[1].date}}, {{matches[1].day}}    </ion-item>
<ion-item ng-repeat="match in matches" class="item" ng-if="matches[3].date==match.date">
<div>

  <div style="display:inline-block; width:40%; float: left;">
    {{match.home}}  
  </div>
  <div style="display:inline-block; width:20%; float: left;text-align: center" class="timestamp">      
    <b>
      {{match.time}}  
    </b>
  </div>
  <div style="display:inline-block; width:40%; text-align: right;">
    {{match.away}}
  </div>
</div>

</ion-item>

<ion-item class="item-divider"> {{matches[4].date}}, {{matches[4].day}}    </ion-item>
<ion-item ng-repeat="match in matches" class="item" ng-if="matches[4].date==match.date">
<div>

  <div style="display:inline-block; width:40%; float: left;">
    {{match.home}}  
  </div>
  <div style="display:inline-block; width:20%; float: left;text-align: center" class="timestamp">      
    <b>
      {{match.time}}  
    </b>
  </div>
  <div style="display:inline-block; width:40%; text-align: right;">
    {{match.away}}
  </div>
</div>

</ion-item>

<ion-item class="item-divider"> {{matches[7].date}}, {{matches[7].day}}    </ion-item>
<ion-item ng-repeat="match in matches" class="item" ng-if="matches[7].date==match.date">
<div>

  <div style="display:inline-block; width:40%; float: left;">
    {{match.home}}  
  </div>
  <div style="display:inline-block; width:20%; float: left;text-align: center" class="timestamp">      
    <b>
      {{match.time}}  
    </b>
  </div>
  <div style="display:inline-block; width:40%; text-align: right;">
    {{match.away}}
  </div>
</div>

</ion-item>

<ion-item class="item-divider"> {{matches[10].date}}, {{matches[10].day}}    </ion-item>
<ion-item ng-repeat="match in matches" class="item" ng-if="matches[10].date==match.date">
<div>

  <div style="display:inline-block; width:40%; float: left;">
    {{match.home}}  
  </div>
  <div style="display:inline-block; width:20%; float: left;text-align: center" class="timestamp">      
    <b>
      {{match.time}}  
    </b>
  </div>
  <div style="display:inline-block; width:40%; text-align: right;">
    {{match.away}}
  </div>
</div>

</ion-item>


</ion-list>
</ion-content>
</ion-pane>
</body>
</html>
